* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Comic Sans Ms', Verdana, sans-serif;
}

body {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}

header {
    margin-top: 20px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2em;
}


h3 {
    margin-top: 20px;
    font-size: 1.5em;
}


h1, h2, h3 {
    text-align: center;
    background-color: white;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}


main {
    margin-top: 100px;
}

#quizContainer {
    display: block;
    margin: 60px auto;
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    height: 325px;
}

#resultsContainer {
    display: none;
    text-align: center;
    background-color: #fff;
    width: 40%;
    margin: 30px auto;
    border-radius: 8px;
    padding: 20px 0;
}


.resetBtn {
    text-align: center;
}

.resetBtn button {
    background-color: white;
    display: none;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

#resultsContainer p {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#questionField {
    border: 1px solid #000;
    padding: 40px;
    border-radius: 10px 10px 0 0;
}

.answers {
    display: grid;
    grid-template-columns: 50% 50%;
}

.answers p {
    display: block;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 20px;
    transition-duration: 0.3s;
    padding: 25px 10px;
    cursor: pointer;
}

.active {
    font-weight: bold;
    background-color: rgb(60, 203, 255) !important;
}

.answers p:hover, .submit:hover, .resetBtn button:hover {
    text-decoration: underline;
    background-color: lightgray;
    transition-duration: 0.3s;
    cursor: pointer;
}

.submit, #history {
    text-align: center;
    padding: 25px 10px;
    border: 2px solid #000;
    border-top: 1px solid #000;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}
